* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 127, 168);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@font-face {
  font-family: 'MinhaFonte';
  src: url('/fonts/fontTitle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'fonte2';
    src: url('/fonts/fontH2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontPrincipal';
    src: url('/fonts/fontPrincipal.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.btnHeader{
    position: fixed;
    display: flex;
    gap: 50px;
    border: 2px solid white;
    padding: 10px 12px;
    border-radius: 50px;
    backdrop-filter: blur(2px) brightness(98%);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.btnHeader a{
    color: white;
}

.btnHeader a:hover{
    background-color: #b4b4b4;
    padding: 1px 3px;
    border-radius: 50px;
}

.parallax-1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/imgWall.jpg");
}

.parallax-1 h1{
    margin-left: 350px;
    font-size: 15rem;
    font-family: 'fontPrincipal', sans-serif;
    color:#ac4343;
}

h1.h1-2{
    color:#CFEFFF;
}