.titulo h1{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}

.texto p {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 1.7rem;
}